<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Stocks Tracker</title>
</head>
<body>
    <div class="login-page">
        <h1 class="lead">Login</h1>
        <form action="" class="form-group" id="login-form">
            <input type="text" name="username" class="form-control" placeholder="Username..." required>
            <input type="password" name="pin" class="form-control" placeholder="Pin..." required>
            <input type="submit" class="form-control btn btn-info">
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="http://cdn.rawgit.com/h2non/jsHashes/master/hashes.js"></script>
    <script src="login.js"></script>
</body>
</html>